# Section 7.1 
## Question 1
1. Using EVregistry, Write a query to select the `ModelYear`, `Make`, and `Model` off all of the vehicles in the registry.

SELECT ModelYear, Make, Model
FROM EVRegistry

## Question 2 
2. Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, `ElectricVehicleType`. 

SELECT DISTINCT ElectricVehicleType
FROM EVRegistry

## Question 3 
3. Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry. 

SELECT *
FROM EVRegistry
WHERE ElectricVehicleType = 'Battery Electric Vehicle (BEV)' 

## Question 4 
4. Using the EVRegistry, wirte a query that returns the `Make` and `Model` of all of the EV's that have a BaseMSRP between 20000 and 35000?  

SELECT DISTINCT MODEL, Make, BaseMSRP
FROM EVRegistry
WHERE BaseMSRP BETWEEN 20000 AND 35000

# 7.2 HW Questions 
## Question 1 
1. Using EVRegistry, write a query to find a record  where the `City` attribute is NULL. Return all of the available columns. 

SELECT *
FROM EVRegistry
WHERE City IS NULL

## Question 2 
2. Write a query to find the `make`, `model`, and `ElectricVehicleType` where the VIN number has  that ends in '3E1EA1J'.

SELECT Make, Model, ElectricVehicleType
FROM EVRegistry
WHERE VIN like '%3E1EA1J'

## Question 3 
3. Select the `ModelYear`, `make`, `model`, `ElectricVehicleType`, and `range` of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest. 

SELECT ModelYear, Make, model, ElectricVehicleType, ElectricRange
FROM  EVRegistry
WHERE Make = 'CHEVROLET' or Make = 'TESLA'
ORDER BY Make, ModelYear DESC

## Question 4 
4. Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records. 

SELECT StationID, Count(*) as NumberOfUses
FROM EVCharging
GROUP BY StationID 
ORDER BY COUNT(*) DESC
LIMIT 5

## Question 5 
5.  Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be `userid`, `minTime`, and `maxTime`. Order this result set by the last two columns respectively. 

SELECT userId, MIN(chargeTimeHrs) as 'minhours', MAX(chargeTimeHrs) as 'maxHours'
FROM EVCharging
WHERE chargeTimeHrs > 0.5 
GROUP BY userId
ORDER BY 2,3

# 7.3 HW Questions
## Question 1 
1. Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.

SELECT Weekday, ROUND(avg(chargeTimeHrs),2) as 'avgChargeTime'
FROM EVcharging
GROUP BY weekday
ORDER BY avgChargeTime DESC

## Question 2 
2. Using, EV charging, Find the total power consumed from charging EV's by each User. Return the userId and name the calculated column, totalPower. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users.

SELECT UserId, ROUND(SUM(kwhTotal),2) as 'totalPower'
FROM EVcharging
GROUP BY UserID
ORDER BY totalPower DESC

## Question 3 
3. Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return `type Facility` and name the calculated column `numStation`. Order the result set from highest to lowest number of charging stations.  

SELECT dimFacility.typeFacility as typeFacility, count(factCharge.stationId) as numStation
FROM dimFacility, factCharge
WHERE dimFacility.FacilityKey = factCharge.facilityID
GROUP by typeFacility
ORDER by numStation DESC

## Question 4 
4. In your own words, Briefly explain Primary Keys and Foreign Keys. 
A primary key and a foreign key are two different concepts used to establish relationships between tables.

A primary key is a unique identifier for a record in a table that ensures each record in the table can be uniquely identified. 
While a foreign key is a column or a set of columns in a table that refers to the primary key of another table and establishes the link between the two tables, enforcing referential integrity.


## Question 5 Corrected
5. Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be `userid`, `minTime`, and `maxTime`. Order this result set by the last two columns respectively. HINT: USE `HAVING`

SELECT userId, min(chargeTimeHrs) as minTime, max(chargeTimeHrs) as maxTime
FROM EVCharging
GROUP by userId
HAVING minTime > 1.0
ORDER by 2 ASC, 3 ASC